doctype html

html.
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>급식 설문</title>
    </head>
    <body>
        <div class="container" id="title-container">
            <h1>뭐 먹고 싶니?</h1>
        </div>
        <div class="container" id="graph-container">
            <img src="images/graph.jpg" alt="a graph">
        </div>
        <div class="container" id="form-container">
            <form id="form">
                <input id="input-field" type="text" placeholder="음식 이름을 입력하세요">
                <input class="submit-button" id="submit-button" type="submit" value="제출">
            </form>
        </div>
    </body>
    <script type="module" src="/javascripts/script.js"></script>
